<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd">
<suite name="Amazon Website Test Automation Test Suite">
	<test name="Amazon Website Test Cases">
		<classes>
			<class name="com.amazon.qa.testcases.CategoryPageTest"></cass>
			<class name="com.amazon.qa.testcases.HomePageTest"></cass>
			<class name="com.amazon.qa.testcases.LoginPageTest"></cass>
		</classes>
	</test>
</suite>